$white: #FFFFFF;

$gray-100: rgba(0, 0, 0, 0.05);
$gray-200: rgba(0, 0, 0, 0.1);
$gray-300: rgba(0, 0, 0, 0.2);
$gray-400: rgba(0, 0, 0, 0.3);
$gray-500: rgba(0, 0, 0, 0.4);
$gray-600: rgba(0, 0, 0, 0.5);
$gray-700: rgba(0, 0, 0, 0.6);
$gray-800: rgba(0, 0, 0, 0.7);
$gray-900: rgba(0, 0, 0, 0.8);

$white-100: rgba(255, 255, 255, 0.05);
$white-200: rgba(255, 255, 255, 0.1);
$white-300: rgba(255, 255, 255, 0.2);
$white-400: rgba(255, 255, 255, 0.3);
$white-500: rgba(255, 255, 255, 0.4);
$white-600: rgba(255, 255, 255, 0.5);
$white-700: rgba(255, 255, 255, 0.6);
$white-800: rgba(255, 255, 255, 0.7);
$white-900: rgba(255, 255, 255, 0.8);

$black: #000000;
