<form [formGroup]="group">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title"
           class="form-control"
           placeholder="Title"
           type="text"
           formControlName="title">
  </div>
  <div class="form-group">
    <label for="tooltip">Tool Tip</label>
    <input id="tooltip"
           class="form-control"
           placeholder="Tool Tip"
           type="text"
           formControlName="tooltip">
  </div>
  <div class="form-group">
    <label for="icon">Icon</label>
    <input id="icon"
           class="form-control"
           placeholder="Icon"
           type="text"
           formControlName="icon">
  </div>
  <div class="form-group">
    <label for="css">CSS</label>
    <input id="css"
           class="form-control"
           placeholder="CSS"
           type="text"
           formControlName="css">
  </div>
</form>
