<mat-form-field>
  <mat-label>Colors</mat-label>
  <mat-select [(ngModel)]="color">
    <mat-option *ngFor="let color of colors"
                [value]="color">
      {{color | titlecase}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngFor="let type of types"
     class="buttons">
  <div class="title">{{type | titlecase}} Buttons</div>
  <rg-button *ngFor="let reaction of reactions"
             class="mr-3"
             [reaction]="reaction"
             [color]="color"
             [type]="type"></rg-button>
</div>
